/*
=========================================================================================
HELPERS
=========================================================================================
*/
/* =================================================================================== */
/* Overriding Helpers Classes */
.clear {
	clear: both;
	}
.hidden {
	display: none;
	}
.no-padding {
	padding: 0 0;
	}