/*
=========================================================================================
PAGE TEMPLATE: Services
=========================================================================================
*/

body.services {

	.services article {
		margin-bottom: 75px;
	}
	.services article h3  {
		font-size: 1.25rem !important;
		line-height: 1.45;
		margin-bottom: .5em !important;
	}
}


// --------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------
// MOBILE NAVIGATION - Toggled open
@media (max-width: $breakpoint-global) {
	
}